@import "tailwindcss" prefix(tern);
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --tern-background: oklch(1 0 0);
  --tern-foreground: oklch(0.145 0 0);
  --tern-card: oklch(1 0 0);
  --tern-card-foreground: oklch(0.145 0 0);
  --tern-popover: oklch(1 0 0);
  --tern-popover-foreground: oklch(0.145 0 0);
  --tern-primary: oklch(0.205 0 0);
  --tern-primary-foreground: oklch(0.985 0 0);
  --tern-secondary: oklch(0.97 0 0);
  --tern-secondary-foreground: oklch(0.205 0 0);
  --tern-muted: oklch(0.97 0 0);
  --tern-muted-foreground: oklch(0.556 0 0);
  --tern-accent: oklch(0.97 0 0);
  --tern-accent-foreground: oklch(0.205 0 0);
  --tern-destructive: oklch(0.577 0.245 27.325);
  --tern-destructive-foreground: oklch(0.577 0.245 27.325);
  --tern-border: oklch(0.922 0 0);
  --tern-input: oklch(0.922 0 0);
  --tern-ring: oklch(0.708 0 0);
  --tern-chart-1: oklch(0.646 0.222 41.116);
  --tern-chart-2: oklch(0.6 0.118 184.704);
  --tern-chart-3: oklch(0.398 0.07 227.392);
  --tern-chart-4: oklch(0.828 0.189 84.429);
  --tern-chart-5: oklch(0.769 0.188 70.08);
  --tern-radius: 0.625rem;
  --tern-sidebar: oklch(0.985 0 0);
  --tern-sidebar-foreground: oklch(0.145 0 0);
  --tern-sidebar-primary: oklch(0.205 0 0);
  --tern-sidebar-primary-foreground: oklch(0.985 0 0);
  --tern-sidebar-accent: oklch(0.97 0 0);
  --tern-sidebar-accent-foreground: oklch(0.205 0 0);
  --tern-sidebar-border: oklch(0.922 0 0);
  --tern-sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --tern-background: oklch(0.145 0 0);
  --tern-foreground: oklch(0.985 0 0);
  --tern-card: oklch(0.145 0 0);
  --tern-card-foreground: oklch(0.985 0 0);
  --tern-popover: oklch(0.145 0 0);
  --tern-popover-foreground: oklch(0.985 0 0);
  --tern-primary: oklch(0.985 0 0);
  --tern-primary-foreground: oklch(0.205 0 0);
  --tern-secondary: oklch(0.269 0 0);
  --tern-secondary-foreground: oklch(0.985 0 0);
  --tern-muted: oklch(0.269 0 0);
  --tern-muted-foreground: oklch(0.708 0 0);
  --tern-accent: oklch(0.269 0 0);
  --tern-accent-foreground: oklch(0.985 0 0);
  --tern-destructive: oklch(0.396 0.141 25.723);
  --tern-destructive-foreground: oklch(0.637 0.237 25.331);
  --tern-border: oklch(0.269 0 0);
  --tern-input: oklch(0.269 0 0);
  --tern-ring: oklch(0.439 0 0);
  --tern-chart-1: oklch(0.488 0.243 264.376);
  --tern-chart-2: oklch(0.696 0.17 162.48);
  --tern-chart-3: oklch(0.769 0.188 70.08);
  --tern-chart-4: oklch(0.627 0.265 303.9);
  --tern-chart-5: oklch(0.645 0.246 16.439);
  --tern-sidebar: oklch(0.205 0 0);
  --tern-sidebar-foreground: oklch(0.985 0 0);
  --tern-sidebar-primary: oklch(0.488 0.243 264.376);
  --tern-sidebar-primary-foreground: oklch(0.985 0 0);
  --tern-sidebar-accent: oklch(0.269 0 0);
  --tern-sidebar-accent-foreground: oklch(0.985 0 0);
  --tern-sidebar-border: oklch(0.269 0 0);
  --tern-sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--tern-background);
  --color-foreground: var(--tern-foreground);
  --color-card: var(--tern-card);
  --color-card-foreground: var(--tern-card-foreground);
  --color-popover: var(--tern-popover);
  --color-popover-foreground: var(--tern-popover-foreground);
  --color-primary: var(--tern-primary);
  --color-primary-foreground: var(--tern-primary-foreground);
  --color-secondary: var(--tern-secondary);
  --color-secondary-foreground: var(--tern-secondary-foreground);
  --color-muted: var(--tern-muted);
  --color-muted-foreground: var(--tern-muted-foreground);
  --color-accent: var(--tern-accent);
  --color-accent-foreground: var(--tern-accent-foreground);
  --color-destructive: var(--tern-destructive);
  --color-destructive-foreground: var(--tern-destructive-foreground);
  --color-border: var(--tern-border);
  --color-input: var(--tern-input);
  --color-ring: var(--tern-ring);
  --color-chart-1: var(--tern-chart-1);
  --color-chart-2: var(--tern-chart-2);
  --color-chart-3: var(--tern-chart-3);
  --color-chart-4: var(--tern-chart-4);
  --color-chart-5: var(--tern-chart-5);
  --radius-sm: calc(var(--tern-radius) - 4px);
  --radius-md: calc(var(--tern-radius) - 2px);
  --radius-lg: var(--tern-radius);
  --radius-xl: calc(var(--tern-radius) + 4px);
  --color-sidebar: var(--tern-sidebar);
  --color-sidebar-foreground: var(--tern-sidebar-foreground);
  --color-sidebar-primary: var(--tern-sidebar-primary);
  --color-sidebar-primary-foreground: var(--tern-sidebar-primary-foreground);
  --color-sidebar-accent: var(--tern-sidebar-accent);
  --color-sidebar-accent-foreground: var(--tern-sidebar-accent-foreground);
  --color-sidebar-border: var(--tern-sidebar-border);
  --color-sidebar-ring: var(--tern-sidebar-ring);
}

@layer base {
  * {
    @apply tern:border-border tern:outline-ring/50;
  }
  body {
    @apply tern:bg-background tern:text-foreground;
  }
}